.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100svh;
  max-height: 100svh;
  overflow: hidden;
}

.loader {
  margin: auto 0;
}

.title {
  margin-bottom: 100px;
  cursor: pointer;
}

.wordBlock {
  margin-bottom: 8px;
}

.card {
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.card:hover {
  cursor: pointer;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
  transition: transform 0.4s;
}

.front,
.back {
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(205, 205, 205);
  color: #00292e;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  font-size: 26px;
}

.back {
  background: #00292e;
  color: white;
  transform: rotateY(180deg);
  white-space: pre-line;
}

.cardContainer {
  display: flex;
}

.cardButton {
  width: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cardButton:focus {
  outline: none;
}

.cardButtonNotActive {
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 40px;
  }

  .title {
    margin-bottom: 80px;
  }

  .card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
}

.soundButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: #00292e;
  transition: all 0.3s ease-in-out;
}

.soundButton path {
  stroke: white;
}

.soundButton:hover path,
.soundButton:focus path {
  stroke: #00292e;
}

.soundButton:hover,
.soundButton:focus {
  background-color: white;
  color: #00292e;
}

.soundButton:disabled {
  cursor: default;
}

.meaningButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.meaningButton path {
  stroke: #00292e;
}

.meaningButton:hover path,
.meaningButton:focus path {
  stroke: white;
}

.meaningMode path {
  stroke: #00292e;
  fill: #00292e;
}

.meaningMode:hover path,
.meaningMode:focus path {
  stroke: white;
  fill: white;
}

.meaningButton:hover,
.meaningButton:focus {
  background-color: #001215;
  color: white;
}

.meaningButton:focus,
.soundButton:focus {
  outline: none;
}

.wordsList {
  overflow-y: auto;
  padding-right: 20px;
}

.wordsList::-webkit-scrollbar,
.wordsList::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.wordsList::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
